 body{position: absolute;left:40%;
            background-color: rgb(0,0,0);
        }
        form{ 
        
            border: dashed 2px black;
            border-radius: 11%;
            background-image: url("Jack Sparrow.jpeg");
            height:380px;
            width:373px;
            color: rgb(216, 65, 6);
            align-items: center;
           
        
        }
        h1{font-family: 'chiller', serif;
        font-size: 60px;
        color:aliceblue;
            position:relative ; left:35%;
            
        }
        h3{ color: rgb(5, 5, 5);
            font-family: 'ink free',sans-serif;
            font-size: 20px;
            position:relative ; left:14%;
            margin-top: 50px;;
        }
        .j{
            position:relative ; left:20%;
        }
      
   .loginc{
    margin-left: 150px;
    margin-top: 10px;
   }
        
